head {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: font-family: 'Playfair Display', serif;
  font-family: 'Inconsolata', monospace;
  color: white;
  background-image: url("edinburgh.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.statement {
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
}


h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
  padding: 70px;
}
